*,
::after,
::before {
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
{
margin: 0;
}

img {
    display: block;
}

ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

.container {
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}

.section {
    padding-top: 120px;
    padding-bottom: 120px;
}

/*header*/

.header {
    border-bottom: 1px solid #e7e9fc;
    margin: 0 auto;
    width: 1440px;
    padding: 0;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-navigation {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #2e2f42;
    display: flex;
    align-items: center;
}

nav ul a:visited {
    color: #2e2f42;
}

.header-navigation-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-right: 76px;
}

.header-navigation-logo-black {
    color: #2e2f42;
}

.features {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    width: 261px;
    margin: 0;
    margin-left: 76px;
    padding: 24px 0;
}

.features-list-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.features-list-link:focus,
.features-list-link:hover,
.features-list-link:active {
    color: #404bbf;
}

.body-adress {
    margin-left: 332px;
}

.adress {
    display: flex;
    gap: 40px;
    padding: 0;
}

.adress-list-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #434455;
}

.adress-list-link:focus {
    color: #404bbf;
}

.adress-list-link:hover {
    color: #404bbf;
}

/*main-title*/

.section-title {
    background-color: #2e2f42;
    text-align: center;
    padding: 188px 0;
    width: 1440px;
    margin: 0 auto;
}

.title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    max-width: 496px;
    margin: 0 auto 48px auto;
}

.main-button {
    display: block;
    border: none;
    margin: auto;
    text-align: center;
    background: #4d5ae5;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.04em;
    color: #fff;
    cursor: pointer;
    border-radius: 4px;
    padding: 16px 32px;
    min-width: 169px;
    height: 56px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}

.main-button:focus,
.main-button:hover {
    background: #404bbf;
    cursor: pointer;
}

/*main-concept*/

.concept {
    padding: 120px 0;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.concept-list {
    display: flex;
    gap: 24px;
}

.concept-list-item {
    width: calc((100% - 3 * 24px) / 4);
}

.concept-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.concept-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #434455;
}

/*main-team-card*/

.team-card {
    background: #f4f4fd;
    padding: 120px 0;
    width: 1440px;
    margin: 0 auto;
}

.team-card-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.team-card-list {
    display: flex;
    gap: 24px;
    margin-top: 72px;
}

.team-card-item {
    background: #fff;
    width: calc((100% - 3 * 24px) / 4);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.team-card-item-down {
    padding: 32px 0;
}

.team-card-item-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 8px;
}

.team-card-item-description {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
    margin-bottom: 32px;
}

/*main-portfolio*/

.portfolio {
    padding: 120px 0;
}

.portfolio-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
    margin-bottom: 72px;
    margin-bottom: 8px;
}


.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    margin-top: 72px;
    row-gap: 48px;
}

.portfolio-list-item {
    width: calc((100% - 2 * 24px) / 3);

}

.portfolio-list-item-border-down {
    border: 1px solid #e7e9fc;
    border-top: none;
    margin: 0;
    padding: 32px 16px;
}

.portfolio-list-item-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.portfolio-list-item-description {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #434455;
    margin-top: 8px;
}

/*footer*/

.footer {
    background: #2e2f42;
    padding: 100px 0;
    width: 1440px;
    margin: 0 auto;
}

.footer-logo {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    font-family: "Raleway", sans-serif;
    display: flex;
}

.footer-logo-white {
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #f4f4fd;
}

.footer-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    max-width: 264px;
    margin-top: 16px;
}